/*-----class for favourite elements*/
.favourite {
    @include favourite;
}

/*-----principal container*/
.section__list {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    list-style: none;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /*-----style for all cards*/
    &__article {
        text-align: center;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 390px;
        width: 250px;
        border: 2px $bordercolor solid;
        gap: 2px;
        word-wrap: break-word;

        &--img {
            margin-top: 5%;
            margin-bottom: 5%;
            width: 80%;
            height: 300px;
            object-fit: cover;
        }
    }
}

/*-----style for favourite side*/
.aside__favourite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @include desktop {
        align-items: flex-end;
    }

    &__li {
        flex-direction: column;
        justify-content: center;

        &--article {
            position: relative;
            @include favourite;
        }

        /*-----style for "X" button in favorite cards*/
        &--div {
            color: $bordercolor;
            font-weight: 700;
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0.5rem;
            padding: 0.3rem 0.5rem 0.3rem 0.5rem;
            border: solid 1.2px;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
            }
        }
    }
}