.section__list {
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    list-style: none;

    &__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 380px;
        width: 250px;
        border: 1px $bordercolor solid;
        gap: 2px;
        word-wrap: break-word;

        &--img {
            margin-top: 5%;
            margin-bottom: 5%;
            width: 80%;
            height: 300px;
            object-fit: cover;
        }
    }
}

.aside__favourite__li {
    @include favourite;

    &--article {
        position: relative;
    }

    &--div {
        color: $cancelcolor;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0.5rem;
        padding: 0.3rem;
        font-size: 18px;
        border: solid 1px;
        border-radius: 50%;
    }
}