.tooltip__cancel {
    position: relative;
    transform: translate(-100px);
    width: 50px;
    height: 10px;


    &__span {
        font-size: 18px;
        visibility: hidden;
        background-color: $tooltipbkg;
        color: $titlecolor;
        padding: 3px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        transform: translate(-100px, -15px);
        text-align: center;
    }
}

.tooltip__cancel:hover .tooltip__cancel__span {
    visibility: visible;

}