/*-----style for mark as favourite*/
@mixin favourite {
    background-color: $favouritebackground;
    color: $favouritefont;
}

/*-----style for titles*/
@mixin title {
    background-color: $titlebackgcolor;
    color: $titlecolor;
    margin-bottom: 5%;
}