//font
* {
    font-family: 'Montserrat', sans-serif;
}

$fontfooter: 'Oswald', sans-serif;

//colors
$footerbackground: #bb9855;
$chemicalgreen: #41a262;
$favouritebackground: #F7E9D0;
$favouritefont: #6b4323;
$bordercolor: #9a783b;
$titlebackgcolor: #a0792e;
$titlecolor: #FFF8ED;
$tooltipbkg: #FFF8ED;
$searchbtn: #318dab;
/*
posibles colores: 
#bac982
#7c9885 verde azulado
#6e8c20 verde claro
#355710 verde oscuro
#3e4306 mas marrón

#41a262 verde cuadritos

azul: #a5babb
azul intenso:#318dab
azul gris: #55a3bc
#a0792e
marron beige #e6d4ce
marron fuerte: #6b4323
camel: #bb9c62;
$titlebackgcolor: #bb9855
tierra: #9a783b*/