//font
* {
    font-family: 'Montserrat', sans-serif;
}

$fontfooter: 'Oswald', sans-serif;

//colors
$footerbackground: #9a783b;
$chemicalgreen: #41a262;
$favouritebackground: #e6d4ce;
$favouritefont: #6b4323;
$bordercolor: #9a783b;