.footer {    
    display: flex;
    align-items: center;
    background-color:#355710;
    position: fixed;
    bottom:0;
    height:5vh;
    color:white;
    font-size: 2rem;
    width: 100%;
    padding-left: 5%;
    font-family: $fontfooter;
    &__span{
        text-transform: uppercase;
        background-color:#41a262;
        border: white solid 1px;
        padding: 0.2rem;
    }
}
