/*
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'pages/index';
*/

@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/footer';

.main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5%;    
    padding-bottom: 8vh;

}
.section__list{
    gap:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    list-style: none;
    &__article{   
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 250px;
        width: 200px;        
        border: 1px black solid;  
        gap:4px;     
        &--img{
            margin-top: 5%;
            margin-bottom: 5%;
            max-width:90%;
            height:170px
        }
    }
}

.favourite{
    background-color: green;
    color: white;
}
