@import 'core/reset';
@import 'core/variables';
@import 'core/mixin';
@import 'core/responsive';
@import 'components/cards';
@import 'components/tooltip';
@import 'components/buttons';
@import 'components/titles';
@import 'layout/header';
@import 'layout/footer';

* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    padding-bottom: 8vh;
}